*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: #EADDD7;
}

main{
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}

.barra_navegacion_nav{
    position: relative;
    display: flex;
    background-color: #062837;
    align-items: center;
}

.barra_navegacion_nav_div{
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 10px;
    margin-left: auto;
}

.barra_navegacion_nav_div_a{
    display: flex;
    align-items: center;
    margin: 0 auto;
    font-style:normal;
    text-align: center;
    text-decoration: none;
    font-size: 1.7rem;
    color: white;
    font-family: 'Bad Script', cursive;
}

.barra_navegacion_nav_div_a img{
    margin-right: 10px;
}

.barra_navegacion_menu {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
    text-decoration: none;
    color: white;
    /*display:inline-block;*/
    text-align: center;
    font-family: 'Kanit', sans-serif;
}

.menu{
    background-color: #062837;
    padding: 0;
    list-style: none;
    margin: 0px auto;
    text-align: center;
    font-size: 16px;
}

.menu li{
    display: inline;
}

.menu li a{
    text-align: center;
    color: white;
    padding: 5px;
    margin: 10px;
    text-decoration: none;
}

.menu li a:hover{
    /*background-color: #EADDD7;
    border-radius: 10px;
    color: #062837;
    padding: 5px;*/
    padding-bottom: 5px;
    text-decoration: underline ;
    text-shadow: 1px 1px 4px #EADDD7;
}

footer{
    background-color: #10497F;
    color: white;
    display: flex;
    justify-content: flex-start;
}

.footer_a1{
    padding: 10px;
}

.footer_a2{
    padding: 10px;
}

.footer_a3{
    padding: 10px;
}

.formulario_contacto{  
    width: 450px; 
    height: auto;
    margin: 20px auto;
    border-radius: 10px;  
    padding-top: 20px;
    padding-bottom: 20px;  
    background-color: #F8F4F2; 
    padding-left: 20px; 
  }
  
  
input{
  background-color: #fbfbfb; 
  width: 408px; 
  height: 40px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #ab4493; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
}


textarea{
  background-color: #fbfbfb; 
  width: 405px; 
  height: 150px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #ab4493; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
  padding-top: 15px; 
}


label{
  display: block; 
  float: center;  
}

.titulos_form_contacto{
  font-size: 13px;
}

.boton_formulario{
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  text-transform: uppercase;
  /*background-color: #062837; 
  border-color: #062837; */
  border-style: solid;
  border-radius: 10px;
  width: 405px;
  cursor: pointer;
}


.boton_formulario p{
  color: #fff; 
  font-family: 'Kanit', sans-serif;
  padding-top: 6px;
}


span{
  color: #ab4493; 
}


.aviso{
  font-size: 13px;  
  color: #0e0e0e;  
}


h1{
  font-size: 14px;  
  text-align: center; 
  padding-bottom: 20px; 
  color: #0e0e0e;
  font-family: 'Kanit', sans-serif;
  font-weight: 100;
}



h3{
  font-family: 'Kanit', sans-serif;
  font-size: 2rem; 
  text-align: center;
  padding-bottom: 30px;
  color: #0e0e0e;   
}



h5{
  font-family: 'Kanit', sans-serif;
  font-size: 1.5rem; 
  text-align: center;
  /*padding-bottom: 30px;*/
  color: #0e0e0e;   
}

.blanco{
  color: #dfd1cb;
}

.carousel-item-img{
  object-fit: scale-down;
  height: 85vh;
  width: 100%;
}

.shadow_black{
  text-shadow: 1px 1px 2px black;
}

.shadow_white{
  text-shadow: 1px 1px 2px white;
}

p{
  font-size: 14px; 
  color: #0e0e0e; 
}

.subFooter{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  align-content: center;
  justify-content: space-between;
}

.volver_arriba{
  display: flex;
  padding-right: 10px;
  padding-bottom: 10px;
  align-items:end;
  justify-content: space-between;
}

.volver_arriba_texto{
  text-decoration: none;
  color: #0e0e0e;
  text-align: left;
  padding-left: 10px;
}

.volver_arriba_whatsapp{
  position: sticky;
  padding-right: 10px;
  padding-bottom: 10px;
}

.fotos_pagina_principal{
  display: flex;
  align-items:center;
  justify-content: space-between;
}

.fotografia_hobby{
  padding-top: 20px;
  text-align: center;
  font-family: 'Kanit', sans-serif;
  font-size: 1.6rem;
  color: #0e0e0e;
}

.fotos_pagina_principal img{
  height: 488px;
}

.contacto{
  display: flex;
  align-items:flex-start;
  justify-content: space-between;
}
.foto_mia_brindis{
  border-radius: 5%;
  padding-left: 10px;
  padding-top: 10px;
}

.texto_acerca_de_mi{
  text-align: justify;
  font-size: 1rem;
  font-family: 'Bad Script', cursive;
  font-style: normal;
  font-weight: 500;
  color: #222229;
}

.texto_acerca_de_mi em{
  font-weight: 700;
}

.titulo_frases{
  padding: 10px;
  padding-top: 30px;
  font-size: 1.3rem;
  font-family: 'Kanit', sans-serif;
}

.frase_fotografo{
  font-size: 1.3rem;
  font-family: 'Bad Script', cursive;
  font-style: italic;
  padding-left: 20px;
  color: #222229;
}

.fotografo_frase{
  font-family: 'Kanit', sans-serif;
  font-size: medium;
  padding-bottom: 35px;
  padding-left: 30px;
  font-weight: 500;
  color: #4d4d4d;
}

.contenedor_acerca_de{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.imagenes_acera_de{
  height: 450px;
}

.imagen_acera_de_mi img{
  width: 550px;
}

.contedor_acerca_de_mi{
  position: relative;
  text-align: center;
}

.contedor_acerca_de_mi a {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
  color: white;
  text-decoration: none;
  border-color: #dfd1cb;
  border-width: 2px;
  border-style: solid ;
  font-family: 'Kanit', sans-serif;
  border-radius: 5px;
  letter-spacing: 1px;
}

.contedor_acerca_de_mi a:hover {
  background-color: #EADDD7;
  border-radius: 10px;
  color: #062837;
}

.contenedor_texto_acerca_de_mi{
  width: 600px;
}

.contenedor_acerca_de_mis_favoritas{
  display: flex;
  flex-wrap: wrap;
}

.contenedor_acerca_de_mis_favoritas img{
  flex:1;
  width: 33%;
  height: auto;
  object-fit: scale-down;
  padding: 3px;
  opacity: .7;
}

.contenedor_acerca_de_mis_favoritas img:hover{
  opacity: 1;
  padding: 0px;
  border-radius: 5px;  
  border-style: solid; 
  border-width: 3px; 
  border-color: white; 
}

.contenedor_referentes{
  width: 0 auto;
}