*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: #EADDD7;
}

main{
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}

.navbar-fondo{
  background-color: #062837;
}

.cristian-mouguelar{
  font-size: 1.7rem;
  color: white;
  font-family: 'Bad Script', cursive;
}

.cristian-mouguelar:hover{
   color: white;
}

.item-menu-a:hover{
  text-decoration: underline;
  color: white;
  text-shadow: 1px 1px 4px #EADDD7;
}


.nav-item a{
  font-family: 'Kanit', sans-serif;
  color: white;
  font-size: 1rem;
}
.tres-rayitas{
  background-image: url(../img/tres_rayitas.jpg);
  background-size: 180%;
}

footer{
    background-color: #10497F;
    color: white;
    display: flex;
    justify-content: flex-start;
}

.footer_a1{
    padding: 10px;
}

.footer_a2{
    padding: 10px;
}

.footer_a3{
    padding: 10px;
}


.formulario_contacto{  
    width: 450px; 
    height: auto;
    margin: 20px auto;
    border-radius: 10px;  
    padding-top: 20px;
    padding-bottom: 20px;  
    background-color: #F8F4F2; 
    padding-left: 20px; 
  }
  
  
input{
  background-color: #fbfbfb; 
  width: 408px; 
  height: 40px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #ab4493; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
}


textarea{
  background-color: #fbfbfb; 
  width: 405px; 
  height: 150px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #ab4493; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
  padding-top: 15px; 
}


label{
  display: block; 
  float: center;  
}

.titulos_form_contacto{
  font-size: 13px;
}

.boton_formulario{
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  text-transform: uppercase;
  /*background-color: #062837; 
  border-color: #062837; */
  border-style: solid;
  border-radius: 10px;
  width: 405px;
  cursor: pointer;
}


.boton_formulario p{
  color: #fff; 
  font-family: 'Kanit', sans-serif;
  padding-top: 6px;
}


span{
  color: #ab4493; 
}


.aviso{
  font-size: 13px;  
  color: #0e0e0e;  
}


h1{
  font-size: 14px;  
  text-align: center; 
  padding-bottom: 20px; 
  color: #0e0e0e;
  font-family: 'Kanit', sans-serif;
  font-weight: 100;
}



h3{
  font-family: 'Kanit', sans-serif;
  font-size: 2rem; 
  text-align: center;
  padding-bottom: 30px;
  color: #0e0e0e;   
}



h5{
  font-family: 'Kanit', sans-serif;
  font-size: 1.5rem; 
  text-align: center;
  /*padding-bottom: 30px;*/
  color: #0e0e0e;   
}

.blanco{
  color: #dfd1cb;
}

.carousel-item-img{
  object-fit: scale-down;
  width: 100%;
}

.shadow_black{
  text-shadow: 1px 1px 2px black;
}

.shadow_white{
  text-shadow: 1px 1px 2px white;
}

p{
  font-size: 14px; 
  color: #0e0e0e; 
}

.subFooter{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  align-content: center;
  justify-content: space-between;
}

.volver_arriba{
  display: flex;
  padding-right: 10px;
  padding-bottom: 10px;
  align-items:end;
  justify-content: space-between;
}

.volver_arriba_texto{
  text-decoration: none;
  color: #0e0e0e;
  text-align: left;
  padding-left: 10px;
}

.volver_arriba_whatsapp{
  position: sticky;
  padding-right: 10px;
  padding-bottom: 10px;
}

.fotos_pagina_principal{
  display: flex;
  align-items:center;
  justify-content: space-between;
}

.fotografia_hobby{
  padding-top: 20px;
  text-align: center;
  font-family: 'Kanit', sans-serif;
  font-size: 1.6rem;
  color: #0e0e0e;
}

.fotos_pagina_principal img{
  height: 488px;
}

.contacto{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*
.foto_mia_brindis{
  border-radius: 5%;
  padding-left: 10px;
  padding-top: 10px;
}*/

.texto_acerca_de_mi{
  text-align: justify;
  font-size: 1rem;
  font-family: 'Bad Script', cursive;
  font-style: normal;
  font-weight: 500;
  color: #222229;
  line-height: 2;
  /*line-break: auto;*/
}

.texto_acerca_de_mi em{
  font-weight: 700;
}

.titulo_frases{
  padding: 10px;
  padding-top: 30px;
  font-size: 1.3rem;
  font-family: 'Kanit', sans-serif;
}

.frase_fotografo{
  font-size: 1.3rem;
  font-family: 'Bad Script', cursive;
  font-style: italic;
  padding-left: 20px;
  padding-right: 20px;
  color: #222229;
}

.fotografo_frase{
  font-family: 'Kanit', sans-serif;
  font-size: medium;
  padding-bottom: 35px;
  padding-left: 30px;
  font-weight: 500;
  color: #4d4d4d;
}

.contenedor_acerca_de{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.imagenes_acera_de{
  height: 450px;
}

.imagen_acera_de_mi img{
  width: 550px;
}

.contedor_acerca_de_mi{
  position: relative;
  text-align: center;
}

.contedor_acerca_de_mi a {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
  color: white;
  text-decoration: none;
  border-color: #dfd1cb;
  border-width: 2px;
  border-style: solid ;
  font-family: 'Kanit', sans-serif;
  border-radius: 5px;
  letter-spacing: 1px;
}

.contedor_acerca_de_mi a:hover {
  background-color: #EADDD7;
  border-radius: 10px;
  color: #062837;
}

.contedor_acerca_de_mi img{
  padding: 10px;
}

.contenedor_texto_acerca_de_mi{
  width: 600px;
}


.contenedor_acerca_de_mis_favoritas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 10px;
}

.contenedor_item_acerca_de_mis_favoritas {
  height: 0;
  padding-bottom: 100%;
}

.contenedor_item_acerca_de_mis_favoritas img {
  width: 100%;
  height: auto;
  opacity: .7;
  border-radius: 5px; 
}


.contenedor_acerca_de_mis_favoritas img:hover{
  opacity: 1;
  padding: 0px;
  border-radius: 5px;  
  border-style: solid; 
  border-width: 3px; 
  border-color: white; 
}

.card{
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

/*
.contenedor_referentes{
  width: 0 auto;
}*/


.container-tres-rayitas{
  border-color:white;
  border-width: 3px;
 }

 .container-contacto {  
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 3px 3px;
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    "foto1 foto2"
    "area-contacto area-contacto";
}

.foto1 {
  grid-area: foto1;
  height: 0;
  margin: 10px;}

.foto1 img{
  border-radius: 5%;
  width: 100%;
  height: auto;}
  
.foto2 { 
  grid-area: foto2;
  height: 0; 
  margin:10px;}

.foto2 img{
  border-radius: 5%;
  width: 100%;
  height: auto;}

.area-contacto { 
  grid-area: area-contacto; 
  height: auto;}


/*
.contenedor_acerca_de_mis_favoritas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 10px;
}

.contenedor_item_acerca_de_mis_favoritas {
  height: 0;
  padding-bottom: 100%;
}

.contenedor_item_acerca_de_mis_favoritas img {
  width: 100%;
  height: auto;
  opacity: .7;
  border-radius: 5px; 
}
*/



 @media only screen 
 and (min-width: 576px) {
  .acordeon-total{
    width: 600px
  }
 }

 @media only screen 
  and (max-width: 576px) {
  .contenedor_acerca_de_mis_favoritas {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(15, 1fr);
    grid-gap: 5px;
  }
  .contenedor_item_acerca_de_mis_favoritas img {
    opacity: 1;
    padding: 5px;
  }
  
  .container-contacto {  
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    grid-template-areas:
      "foto1"
      "foto2"
      "area-contacto";
  }

  .cristian-mouguelar{
    font-size: 1.2rem;
  }

  .cristian-mouguelar img{
    width: 59px;
    height: auto;
  }

  .frase_fotografo{
    font-size: 1rem;
    padding-left: 10px;
    padding-right: 10px;
  }

  .formulario_contacto{  
    width: 350px; 
  }

  input{
    width: 310px;
  }

  textarea{
    width: 310px;
  }

  .boton_formulario{
    width: 310px;
  }
  
  .imagen_acera_de_mi{
    margin-bottom: 15px;
  }

  .imagen_acera_de_mi img{
    width: 350px;
    height: auto;
  }

  .contenedor_texto_acerca_de_mi{
    padding-left: 10px;
    padding-right: 10px;
  }

  .acordeon-total{
    width: 350px;
  }
}