@media only screen 
 and (min-width: 576px) {
  .acordeon-total{
    width: 600px
  }

  .pag-contacto{
    text-align: left;
    margin-left: 0.5rem;}
 }

 @media only screen 
  and (max-width: 576px) {
  .contenedor_acerca_de_mis_favoritas {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(15, 1fr);
    grid-gap: 5px;
  }
  .contenedor_item_acerca_de_mis_favoritas img {
    opacity: 1;
    padding: 5px;
  }
  
  .container-contacto {  
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    grid-template-areas:
      "foto1"
      "foto2"
      "area-contacto";
  }

  .cristian-mouguelar{
    font-size: 1.4rem;
  }

  .cristian-mouguelar img{
    width: 59px;
    height: auto;
  }

  .frase_fotografo{
    font-size: 1rem;
    padding-left: 10px;
    padding-right: 10px;
  }

  

  input{
    width: 310px;
  }

  textarea{
    width: 310px;
  }

  .boton_formulario{
    width: 310px;
  }
  
  

  .contenedor_texto_acerca_de_mi{
    padding-left: 10px;
    padding-right: 10px;
  }

  .acordeon-total{
    width: 350px;
  }

  .foto2 img{
    margin-top: -12rem;
  }

  .area-contacto {
    margin-top: -12rem;
    }

  .pag-contacto{
    text-align: left;
    margin-left: 1rem;
  }
  
}