@media only screen 
 and (min-width: 576px) {
  .acordeon-total{
    width: 600px
  }

  .pag-contacto{
    text-align: left;
    margin-left: 0.5rem;}
 }

@media only screen 
  and (max-width: 576px) {
    
    header{
      .navbar{
        .container-fluid{
          .cristian-mouguelar{
            font-size: 1.3rem;
  
            img{
              width: 59px;
              height: auto;
            }
          }
        }
      }
    }

    main{
      section{
        .contenedor_acerca_de{
          .imagen_acerca_de_mi{
            margin-bottom: 15px;
            img{
              width: 350px;
              height: auto;
            }
          }
        }
        .contenedor_acerca_de_mis_favoritas {
          grid-template-columns: repeat(1, 1fr);
          grid-template-rows: repeat(15, 1fr);
          grid-gap: 5px;

          .contenedor_item_acerca_de_mis_favoritas img {
            opacity: 1;
            padding: 5px;
          }
        }

        .contenedor_portfolio {
          grid-template-columns: repeat(1, 1fr);
          grid-template-rows: repeat(6, 1fr);
          grid-gap: 5px;
        }

        .contenedor_abstracto {
          grid-template-columns: repeat(1, 1fr);
          grid-template-rows: repeat(9, 1fr);
          grid-gap: 5px;
          .contenedor_item_abstracto img {
            opacity: 1;
            //border: 2px $color_blanco solid;
          }
        }

        .contenedor_portfolio_paisajes{
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
          grid-auto-columns: 1fr;
          gap: 5px 5px;
          grid-auto-flow: row;
          justify-content: center;
          align-content: center;
          justify-items: center;
          align-items: center;
          grid-template-areas:
            "foto-vert-1 foto-vert-2"
            "foto-vert-1 foto-vert-2"
            "foto-cuad-1 foto-cuad-2"
            "foto-cuad-3 foto-cuad-4"
            "foto-horiz-1 foto-horiz-1"
            "foto-horiz-2 foto-horiz-2"
            "foto-cuad-5 foto-cuad-6"
            "foto-cuad-7 foto-cuad-8"
            "foto-horiz-3 foto-horiz-3"
            "foto-horiz-4 foto-horiz-4"
            "foto-horiz-5 foto-horiz-5"
            "foto-cuad-9 foto-cuad-10"
            "foto-cuad-11 foto-cuad-12"
            "foto-horiz-6 foto-horiz-6"
            "foto-cuad-13 foto-cuad-14"
            "foto-horiz-7 foto-horiz-7"
            "foto-horiz-8 foto-horiz-8"
            "foto-cuad-15 foto-cuad-16";
          width: 100%;
                      
          .foto-horizontal{
            border: 2px $color_blanco solid;
            overflow: hidden;
            
            img{
                width: 100%;
                height: auto;
                transition:transform 1s ease-out ;
                object-fit: cover;
                opacity:1;

                &:hover{
                    transform: scale(1.2);
                }
              }
          }

          .foto-vertical{
              border: 2px $color_blanco solid;
              overflow: hidden;
              
              img{
                  height: auto;
                  width: 100%;
                  transition:transform 1s ease-out ;
                  object-fit: cover;
                  opacity:1;

                  &:hover{
                      transform: scale(1.2);
                  }
              }
          }

          .foto-cuadrada{
              border: 2px $color_blanco solid;
              overflow: hidden;
              
              img{
                  width: 100%;
                  height: auto;
                  transition:transform 1s ease-out ;
                  object-fit: cover;
                  opacity:1;

                  &:hover{
                      transform: scale(1.2);
                      opacity:1; 
                  }   
              }
          }

          .foto-vert-1 { grid-area: foto-vert-1; }
          .foto-vert-2 { grid-area: foto-vert-2; }

          .foto-horiz-1 { grid-area: foto-horiz-1; }
          .foto-horiz-2 { grid-area: foto-horiz-2; }
          .foto-horiz-3 { grid-area: foto-horiz-3; }
          .foto-horiz-4 { grid-area: foto-horiz-4; }
          .foto-horiz-5 { grid-area: foto-horiz-5; }
          .foto-horiz-6 { grid-area: foto-horiz-6; }
          .foto-horiz-7 { grid-area: foto-horiz-7; }
          .foto-horiz-8 { grid-area: foto-horiz-8; }

          .foto-cuad-1 { grid-area: foto-cuad-1; }
          .foto-cuad-2 { grid-area: foto-cuad-2; }
          .foto-cuad-3 { grid-area: foto-cuad-3; }
          .foto-cuad-4 { grid-area: foto-cuad-4; }
          .foto-cuad-5 { grid-area: foto-cuad-5; }
          .foto-cuad-6 { grid-area: foto-cuad-6; }
          .foto-cuad-7 { grid-area: foto-cuad-7; }
          .foto-cuad-8 { grid-area: foto-cuad-8; }
          .foto-cuad-9 { grid-area: foto-cuad-9; }
          .foto-cuad-10 { grid-area: foto-cuad-10; }
          .foto-cuad-11 { grid-area: foto-cuad-11; }
          .foto-cuad-12 { grid-area: foto-cuad-12; }
          .foto-cuad-13 { grid-area: foto-cuad-13; }
          .foto-cuad-14 { grid-area: foto-cuad-14; }
          .foto-cuad-15 { grid-area: foto-cuad-15; }
          .foto-cuad-16 { grid-area: foto-cuad-16; }

          
        }  
        
        .contenedor_portfolio_retratos {  
          display: grid;
          grid-template-columns: repear(1,1fr);
          grid-template-rows: repeat(18,1fr);
          
          gap: 5px 5px;
          grid-auto-flow:row;
          justify-content:center;
          align-content:center;
          justify-items:center;
          align-items:center;
          grid-template-areas:
          "foto-cuad-1"
          "foto-cuad-2"
          "foto-cuad-3"
          "foto-cuad-4"
          "foto-cuad-5"
          "foto-cuad-6"
          "foto-cuad-7"
          "foto-cuad-8"
          "foto-cuad-9"
          "foto-cuad-10"
          "foto-cuad-11"
          "foto-cuad-12"
          "foto-cuad-13"
          "foto-cuad-14"
          "foto-cuad-15"
          "foto-cuad-16"
          "foto-cuad-17"
          "foto-cuad-18";
      
      
          .foto-cuadrada{
              border: 2px $color_blanco solid;
              overflow: hidden;

              img{
                  width: 100%;
                  height: auto;
                  transition:transform 1s ease-out ;
                  opacity:1; 
                  object-fit: cover;

                  &:hover{
                      transform: scale(1.2);
                      opacity:1; 
                  }   
              }
          }

           
          .foto-cuad-1 { grid-area: foto-cuad-1; }
          .foto-cuad-2 { grid-area: foto-cuad-2; }
          .foto-cuad-3 { grid-area: foto-cuad-3; }
          .foto-cuad-4 { grid-area: foto-cuad-4; }
          .foto-cuad-5 { grid-area: foto-cuad-5; }
          .foto-cuad-6 { grid-area: foto-cuad-6; }
          .foto-cuad-7 { grid-area: foto-cuad-7; }
          .foto-cuad-8 { grid-area: foto-cuad-8; }
          .foto-cuad-9 { grid-area: foto-cuad-9; }
          .foto-cuad-10 { grid-area: foto-cuad-10; }
          .foto-cuad-11 { grid-area: foto-cuad-11; }
          .foto-cuad-12 { grid-area: foto-cuad-12; }
          .foto-cuad-13 { grid-area: foto-cuad-13; }
          .foto-cuad-14 { grid-area: foto-cuad-14; }
          .foto-cuad-15 { grid-area: foto-cuad-15; }
          .foto-cuad-16 { grid-area: foto-cuad-16; }
          .foto-cuad-17 { grid-area: foto-cuad-17; }
          .foto-cuad-18 { grid-area: foto-cuad-18; }
      }

        article{
          .frase_fotografo{
            font-size: 1rem;
            padding-left: 10px;
            padding-right: 10px;
          }
        }

        .container-contacto {  
          grid-template-columns: 1fr;
          grid-template-rows: 1fr 1fr 1fr;
          grid-auto-columns: 1fr;
          grid-template-areas:
            "foto1"
            "foto2"
            "area-contacto";
            
            .foto2 img{
              margin-top: -8rem;
            }

            .area-contacto {
              margin-top: -17rem;
            }
        }
      }

      .formulario_contacto{
        width: 350px;

        .formulario{
          form{
            p{
              input{
                width: 310px;
              }
            textarea{
              width: 310px;
              }
            }
            .boton_formulario{
              width: 310px;
            }
          }
        }
      }
    }
  
  
    
  .contenedor_texto_acerca_de_mi{
    padding-left: 10px;
    padding-right: 10px;
  }

  .acordeon-total{
    width: 350px;
  }

  
  .pag-contacto{
    text-align: left;
    margin-left: 0.5rem;
  }
  
}