main{
    section{
        .contenedor_abstracto{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 1fr);
            //grid-gap: 10px;
            .contenedor_item_abstracto {
                height: 0;
                padding-bottom: 100%;
                overflow: hidden;
                margin: 5px;
                
                img {
                    width: 100%;
                    height: auto;
                    opacity: .7;
                    border-radius: 5px; 
                    object-fit: cover;
                    transition:transform 1s ease-out ;

                    &:hover{
                        //padding: 0px;
                        border-radius: 5px;  
                        border-style: solid; 
                        border-width: 3px; 
                        border-color: white; 
                        transform: scale(1.2);
                        opacity:1;
                    }
                }
            }  
        }
    }
}
