main{
    section{
        .contenedor_portfolio{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-gap: 10px;
            .contenedor_item_portfolio {
                @include caja-flex(space-evenly,center,wrap,row);
                position: relative;
                text-align: center;
                
                img {
                    width: 100%;
                    height: auto;
                    opacity: 1;
                    border-radius: 5px; 
                    object-fit: cover;
                    transition:transform 1s ease-out ;

                    /*&:hover{
                        padding: 0px;
                        border-radius: 5px;  
                        border-style: solid; 
                        border-width: 3px; 
                        border-color: white; 
                        transform: scale(1.2);
                        opacity:1;
                    }*/
                }
                a{
                    position: absolute;
                    bottom: 30px;
                    left: 50%;
                    transform: translateX(-50%);
                    padding-top: 12px;
                    padding-bottom: 12px;
                    padding-left: 24px;
                    padding-right: 24px;
                    color: $color_blanco;
                    text-decoration: none;
                    border-color:$color_casi_blanco;
                    border-width: 2px;
                    border-style: solid ;
                    box-shadow: $sombra_negra_boton;
                    font-family: $letra_formal;
                    border-radius: 5px;
                    letter-spacing: 1px;
                    text-shadow: $sombra_negra;

                .sombra_negra{
                    text-shadow: $sombra_negra;
                }

                    &:hover{
                        background-color: $color_casi_blanco;
                        border-radius: 10px;
                        color: $color_fondo_oscuro;
                        opacity: 0.7;
                        text-shadow: none;
                    }
                }
            }  
        }
    }
}
