main{
    section{
        .contenedor_portfolio{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-gap: 40px;
            margin: 0 auto;
            max-width: 900px;

            .contenedor_item_portfolio {
                @include caja-flex(space-evenly,center,wrap,row);
                position: relative;
                text-align: center;
                
                img {
                    width: 100%;
                    height: auto;
                    opacity: 1;
                    border-radius: 5px; 
                }

                a{
                    position: absolute;
                    bottom: 30px;
                    left: 50%;
                    transform: translateX(-50%);
                    padding-top: 12px;
                    padding-bottom: 12px;
                    padding-left: 24px;
                    padding-right: 24px;
                    color: $color_blanco;
                    text-decoration: none;
                    border-color:$color_casi_blanco;
                    border-width: 2px;
                    border-style: solid ;
                    box-shadow: $sombra_negra_boton;
                    font-family: $letra_formal;
                    border-radius: 5px;
                    letter-spacing: 1px;
                    text-shadow: $sombra_negra;
                    font-size: medium;                
                
                    &:hover{
                        background-color: $color_casi_blanco;
                        border-radius: 5px;
                        color: $color_fondo_oscuro;
                        opacity: 0.8;
                        text-shadow: none;
                    }
                }
                
                .sombra_negra{
                    text-shadow: $sombra_negra;
                }
            }  
        }
    }
}
