main{
    section{
        min-height: calc(100vh - 95px - 52px - 64px);

        .acordeon-total{
            .accordion-item{
                .accordion-header{
                    button{
                        font-family: $letra_formal;
                    }
                }
                .accordion-collapse{
                    .accordion-body{
                        .card{
                            margin-top: 10px;
                            margin-left: 10px;
                            margin-right: 10px;
                            margin-bottom: 10px;
                            .card-body{
                                .card-text{
                                    font-family: $letra_script;
                                    font-size: 1.2rem;
                                }
                                .boton-ir-web{
                                    background-color: $color_fondo_oscuro; 
                                    border-color: $color_fondo_oscuro; 
                                    border-style: solid;
                                    border-radius: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}